
@Styles.Render("~/Content/cart")

<!-- SubHeader =============================================== -->
@{Html.RenderPartial("~/Views/Cart/Snapshot/_SubHeaderPartial.cshtml");}
<!-- End SubHeader ============================================ -->
@{
    ViewBag.Title = "Order Details";
}

<div id="position">
    <div class="container">
        <ul>
            <li><a href="#0">Home</a></li>
            <li><a href="#0">Category</a></li>
            <li>Page active</li>
        </ul>
        <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>
    </div>
</div><!-- Position -->
<!-- Content ================================================== -->
<div class="container margin_60_35">
    <div class="row">
        <div class="col-md-3" id="left-panel-snapshot">
            <div class="box_style_2 hidden-xs info" style="display:none">
                <h4 class="nomargin_top">Delivery time <i class="icon_clock_alt pull-right"></i></h4>
                <p>
                    Lorem ipsum dolor sit amet, in pri partem essent. Qui debitis meliore ex, tollit debitis conclusionemque te eos.
                </p>
                <hr>
                <h4>Secure payment <i class="icon_creditcard pull-right"></i></h4>
                <p>
                    Lorem ipsum dolor sit amet, in pri partem essent. Qui debitis meliore ex, tollit debitis conclusionemque te eos.
                </p>
            </div><!-- End box_style_2 -->

            <div class="box_style_2 hidden-xs" id="help">
                <i class="icon_lifesaver"></i>
                <h4>Need <span>Help?</span></h4>
                <a href="tel://0553828677" class="phone">055 3828677</a>
                <small>Monday to Saturday 9.00am - 6.00pm </small>
            </div>
        </div><!-- End col-md-3 -->

        <div class="col-md-6">
            <div class="box_style_2">
                <h2 class="inner">Order Details</h2>
                @*<div id="confirm">
                    <i class="icon_check_alt2"></i>
                    <h3>Thank you!</h3>
                    <p>
                        Lorem ipsum dolor sit amet, nostrud nominati vis ex, essent conceptam eam ad. Cu etiam comprehensam nec. Cibo delicata mei an, eum porro legere no.
                    </p>
                </div>*@
                <div id="summary-cart-snapshot-div">

                </div>
            </div>
        </div><!-- End col-md-6 -->

        <div class="col-md-3" id="sidebar">
            <div class="theiaStickySidebar">
                <div id="cart_box">
                    <div id="cart_box_section-1"></div>
                    <div id="cart_box_section-2">
                        <a class="btn_full" onclick="cartSnapShotJSObj.placeOrder()" href="javascript:void(0)">Place Order Now</a>
                        <a class="btn_full" href="/list/index">Add more Items</a>
                    </div>
                </div><!-- End cart_box -->

            </div><!-- End theiaStickySidebar -->
        </div><!-- End col-md-3 -->

    </div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->
@Scripts.Render("~/bundles/order-summary")
@Scripts.Render("~/bundles/cart-snapshot")
<script>
    //setTimeout(function () {

    //    jQuery('#sidebar').theiaStickySidebar({
    //        additionalMarginTop: 80
    //    });
    //}, 1000);
    var flowGlobal = 'fromSnapshot';
</script>

