<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form action="#" class="popup-form" id="myRegister" onsubmit="return false">
                <div class="login_icon"><i class="icon_lock_alt"></i></div>
                <input id="firstName" name="firstName" type="text" class="form-control form-white" placeholder="First Name" maxlength="20" autocomplete="off">
                <input id="lastName" name="lastName" type="text" class="form-control form-white" placeholder="Last Name" maxlength="20" autocomplete="off">
                <input id="phoneNumber" name="phoneNumber" type="tel" class="form-control form-white" placeholder="Phone Number" maxlength="11" autocomplete="off">
                <input id="newPassword" name="newPassword" type="password" class="form-control form-white" placeholder="Password" maxlength="20" title="Passwords are 8-20 characters with uppercase letters, lowercase letters and at least one number." autocomplete="off">
                <input id="confirmPassword" name="confirmPassword" type="password" class="form-control form-white" placeholder="Confirm password" maxlength="20" title="Should match to your password" autocomplete="off">
                <div id="pass-info" class="clearfix"></div>
                <div class="checkbox-holder text-left">
                    <div class="checkbox">
                        <input id="agreement" name="agreement" type="checkbox" value="" title="Should be same as your password" />
                        <label for="agreement"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-submit">Register</button>
                <input data-toggle="modal" data-target="#verifyPhone" class="openPhoneVerificationModal" type="hidden">
            </form>
        </div>
    </div>
</div>

