<div class="search-overlay-menu">
	<span class="search-overlay-close"><i class="icon_close"></i></span>
	<form id="searchform" onsubmit="return false">
		<input value="" id="searchTerm" name="q" type="search" placeholder="Search..." />
		<button id="performSearch" type="submit"><i class="icon-search-6"></i>
		</button>
	</form>
</div>